body{
  padding: 100px;
  align-items: center;
  background-color: aqua;
}
.box{
    background-color:yellow;
    height:100px;
    width:40%;
    display:flex;
    gap:20px;
  /*   justify-content:space-around; */
    padding:10px
  }
  .b1{
    background-color:red;
    width:25%;
  }
  .b2{
    background-color:blue;
    width:25%;
  }
  .b3{
    background-color:white;
    width:25%;
  }
  .box2{
    background-color:yellow;
    height:100px;
    width:40%;
    display:flex;
    gap:20px;
    flex-direction:row-reverse;
    padding:10px
  }
  .new-1{
    background-color:yellow;
    height:100px;
    width:40%;
    display:flex;
    gap:20px;
    justify-content: space-around;
    padding:10px
  }
  .new-2{
    background-color:yellow;
    height:100px;
    width:40%;
    display:flex;
    gap:10px;
    justify-content:center;
    padding:10px
  }
  .box3{
    background-color:yellow;
  /*   height:100px; */
    width:40%;
    display:flex;
    gap:20px;
    padding:10px;
    flex-wrap:wrap;
  }
  .box3 .b1{
    background-color:red;
    width:25%;
    height:100px;
  }
  .box3 .b2{
    background-color:blue;
    width:25%;
    height:100px;
  
  }
  .box3 .b3{
    background-color:white;
    width:25%;
    height:100px;
  }
  .box3 .b4{
    background-color:orange;
    width:25%;
    height:100px;
  }
  .box3 .b5{
    background-color:pink;
    width:25%;
    height:100px;
  }
  .box3 .b6{
    background-color:skyblue;
    width:25%;
    height:100px;
  }
  .item{
    background-color:yellow;
    height:300px;
    width:40%;
    display:flex;
    gap:20px;
    padding:10px
  }
  .item .b1{
    background-color:blue;
    height:100px;
  }
  .item-1{
  align-items:center;  
  }
  .item-2 .b{
    background-color:green;
    width:100px;
    height:100px
    
  }
  .item-2{
    justify-content:flex-end;
  }
  .item-3 .b1 ,.c1, .c2{
    width: 100px;
    background-color: aqua;
    padding: 50px 0 0 50px;

  }
  .item-3{
    align-items: baseline;
  }
  .container{
    height:250px;
    display:flex;
    background:violet;
  /*   column-gap:10px; */
    row-gap:10px;
    padding-left:10px;
    padding-top:10px;
   flex-flow:column wrap;
    
  }
  .in_box1{
    background:green;
    width:100px;
    height:100px;
   }
  .in_box2{
    background:lightseagreen;
    width:100px;
    height:100px;
   }
  .in_box3{
    background:red;
    width:100px;
    height:100px;
   }
  .in_box4{
    background:lightblue;
    width:100px;
    height:100px;
   }
   .main{
    height:300px;
    background-color:yellow;
    gap:20px;
    display:flex;
    padding:10px;
    justify-content:center;
    align-items:center;
   }
   .n{
   /*   height:150px; */
     width:100px;
     background-color:red;
   }
   .n1{
     height:300px
   }

.main_1{
  width:800px;
  height:300px;
  background:yellow;
/*   display:flex; */
/*   gap:10px; */
  padding:10px;
/*   justify-content:space-around; */
  
  
/*   align-items:center; */
  
}

.w{
  width:70px;
  height:70px;
  background-color:black; 
}
.inner_div{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:space-between;
 
 
}



h1{
  text-align:center;}

